<ng-container>
  <h1>点击预约, 周末勿扰:</h1>
  <form [formGroup]="form">
    <div>
      <label for="name">Please enter your name</label>
      <input type="text" name="name" id="name" [formControlName]="'name'" />
    </div>

    <p>Please select date:</p>

    <app-date-picker [formControlName]="'date'"></app-date-picker>
  </form>
  <button (click)="onSubmit()">submit</button>

  <div>
    <div>name: {{ form.get("name")?.value }}</div>
    <div>date: {{ form.get("date")?.value?.value }}</div>
  </div>
</ng-container>
